
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 33%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  left: 66.6%;
  background-color: red;
}

.middle {
  left:33.3%;
  background-color: green
}
